.wrap{
    width:970px;
    height:500px;
    border:1px solid gray;
}
.container{
    width:100%;
    height:420px;
    position: relative;
}
.nav{
    width:970px;
    background-color: #ECF8ED;
    border:1px yellow 1px;
    display: flex; 
}
.nav-item{
    outline: 1px seagreen solid;
    width:33.333%;
    height:80px;
    line-height: 80px;
    color:gray;
    text-align: center;
    font-size: 30px;
}
#start{
    position:absolute;
    width:970px;
    height:150px;
    background-color: lightgray;
    top:30%;
    line-height: 150px;
    font-size: 40px;
    text-align: center;
    color:rgb(12, 63, 61);
    z-index: 9999;
}
.papa{
    width:130px;
    height:420px;
    background-color:#E7E8E4;
    position: absolute;
    z-index: 5;
    line-height: 500px;
    text-align: center;
    right:-100%;
    top:0;
}
#option-one,#option-two,#option-three{
    display: flex;
    position: absolute;
    bottom: -500%;
    left: 20%; 
}
#a{
    background-color:#8ddac5;
}
#b{
    background-color:#5aa3cd ;
}
#c{
    background-color: #8DA3BE;
}
#d{
    background-color: #7FA599;
}
#e{
    background-color: #0aec9d;
}
#f{
    background-color:#0edfe2 ;
}
#g{
    background-color: #f47c32;
}
.cut-one,.cut-two{
    margin: 30px;
    width:150px;
    height:150px;
    border-radius:50%; 
    text-align: center;
    line-height: 150px;
    color:#484848;
}
.cut-three{
    margin: 10px;
    width:100px;
    height:100px;
    border-radius:50%; 
    text-align: center;
    color:#484848;
    line-height: 100px;
}
#des-a,#des-b{
    position:absolute;
    bottom:200px;
    width:200px;
    height:100px;
    border: 1px solid lightgray;
    opacity: 0;
    transition: .6s;
    color:gray;
}
#a:hover #des-a{
    opacity: 1;;  
}  
.cut-one,.cut-two{
    margin: 30px;
    width:150px;
    height:150px;
    border-radius:50%; 
    text-align: center;
    line-height: 150px;
    color:#484848;
}
#B{
    width:970px;
    height:420px;
    background-color:rgb(211, 236, 174);
}

.show{  
    position: absolute;
    left:0;

  
}
.bed{
    position:absolute;
    top:100px;
   
}
.curtain{
    position: absolute;
    top:200px;
    
}
.bottle{
    position: relative;
    height:420px;
}
.final{
    position: absolute;
    width:970px;
    height:420px;
    /* outline: #f47c32 3px solid; */
    display: none;
}
.final-pic{
    width:350px;
    height:350px;
}
.final-pic img{
    width:100%;
}
.father-pic{
    line-height: 420px;
    right:-100%;
    top:0;
    position:absolute;
    width:100px;
    height:420px;
    background-color: orange;
}
.final-item{
    width:200px;
    height:60px;
    position: absolute;
    line-height: 60px;
    text-align: center;
    color:grey;  
}
#share{
    top:50px;
    right:100px;
    background-color: pink;
}
#again{
    top:130px;
    right: 100px;
    background-color: lightblue;
}
